.pt-pagetree-wrapper {
  position: fixed;
  left: 0;
  top: 40px;
  width: 0px;
  height: calc(100vh - 40px);
  color: #999;
  background: #e6e6e6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 9;
  padding: 0px 0 150px 0px;
  font-family: Helvetica, sans-serif;
  line-height: normal;
  font-size: 12px;
  font-weight: normal;
  text-overflow: ellipsis;
  text-align: left;
  z-index: 9990;
  resize: horizontal;
  max-width: 80vw;
  overflow-x: hidden;
}

.pt-pagetree-wrapper.toolbar-enabled {
  height: calc(100vh - 79px);
  top: 79px;
}

.pt-pagetree-wrapper.pt-show {
  min-width: 300px;
  width: auto;
  overflow-y: auto;
}

.pt-pagetree-wrapper .pt-title {
  position: relative;
  font-size: 16px;
  padding: 20px 0 20px 20px;
  text-align: left;
  margin: 0;
  line-height: 1.5;
}

.pt-pagetree-wrapper .pt-title .pt-icon {
  background: none;
  line-height: 1.5;
  height: auto;
}

.pt-pagetree-wrapper .pt-menu-label {
  font-weight: lighter;
  letter-spacing: 1px;
  position: relative;
  cursor: pointer;
  padding: 9px 10px 9px 20px;
  font-size: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 1.5;
}

.pt-pagetree-wrapper .pt-menu-label i {
  margin-right: 5px;
}

.pt-pagetree-wrapper .pt-menu-label i:after {
  content: "\a0";
}

.pt-pagetree-wrapper .pt-menu-label.pt-open {
  color: #e95e27;
}

.pt-pagetree-wrapper .pt-icon {
  padding: 0;
  margin: 0;
  display: block;
  border: none;
  cursor: pointer;
  background-color: #f6f6f6;
  height: 35px;
  width: 35px;
  min-width: 35px;
  line-height: 35px;
  text-align: center;
  color: #999;
  text-decoration: none;
  order: 20;
  margin-left: auto;
}

.pt-pagetree-wrapper .pt-icon.active {
  color: #e95e27;
}

.pt-new-page {
  font-size: 2em;
  margin: 10px 10px 0 0;
  cursor: pointer;
  float: right;
  background-color: #e95e27;
  color: #fff;
  padding: 2px 3px;
  line-height: 22px;
}

.pt-new-page:hover,
.pt-new-page:active,
.pt-new-page:visited {
  text-decoration: none !important;
  color: #fff !important;
}

.pt-tree-container.pt-open>.pt-pagetree {
  display: block;
}

.pt-pagetree {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 5px;
  display: none;
  position: relative;
}

.pt-pagetree ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pt-pagetree ul.pt-subtree {
  display: none;
}

.pt-pagetree .pt-open>ul.pt-subtree {
  display: block;
}

.pt-pagetree.pt-show li {
  min-width: 180px;
}

.pt-pagetree li {
  padding-left: 30px;
  position: relative;
}

.pt-pagetree li.pt-entry.pt-main-entry:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 17px;
  height: calc( 100% + 2px );
  width: 1px;
  border-left: 1px solid #999;
}

.pt-pagetree li.pt-entry.pt-main-entry:after {
  content: '';
  position: absolute;
  top: 17px;
  left: 17px;
  height: 1px;
  width: 10px;
  border-bottom: 1px solid #999;
}

.pt-pagetree li > div {
  display: flex;
  margin-bottom: 2px;
  flex-wrap: wrap;
}

.pt-pagetree .pt-opener {
  color: #000;
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  padding: 0 3px;
  order: -1;
}

.pt-pagetree .ui-state-highlight {
  background: yellow;
  min-height: 20px;
  margin-left: 10px;
}


.pt-pagetree .pt-state {
  font-style: initial;
  margin-right: 3px;
}

.pt-pagetree i.fa-check-circle::before {
  color: green;
}

.pt-pagetree i.fa-times-circle::before {
  color: red;
}

.pt-pagetree i.fa-exclamation-circle::before {
  color: orange;
}

.pt-pagetree li.pt-current>div>a {
  font-weight: bold;
  font-style: italic;
}

.pt-pagetree li>div>a,
.pt-pagetree li>div>span {
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 80%;
  height: 35px;
  overflow: hidden;
  white-space: nowrap;
  border: none;
  line-height: 35px;
  padding-left: 3px;
  position: relative;
  color: #333;
}

.pt-opener+.pt-translations {
  padding-left: 16px;
}

.pt-pagetree .pt-translations li {
  padding-left: 0;
}

.pt-pagetree-wrapper .pt-pagetree-icon {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.pt-pagetree-wrapper.pt-show .pt-pagetree-icon {
  background: #f6f6f6;
}

.pt-page-actions {
  position: absolute;
  left: 0;
  top: 37px;
  width: 100%;
  background: #f6f6f6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  font-size: 14px;
  line-height: 20px;
}

.pt-page-actions li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 10px 0 0;
  margin: 10px;
}

.pt-page-actions li,
.pt-page-actions li a {
  color: #999;
  cursor: pointer;
  display: block;
}

.pt-page-actions li a {
  text-decoration: none;
  border: none;
}

.pt-page-actions li:hover,
.pt-page-actions li a:hover {
  text-decoration: underline;
}

.pt-page-actions li:last-child {
  border: none;
}

.iqbm-show-preview .pt-pagetree-wrapper {
  display: none;
}

#publishModal .modal-body textarea,
#unpublishModal .modal-body textarea {
  width: 100%;
  height: 100px;
  margin-left: 0;
}

/* Feedback (Saving, error) */

.pt-saving>div>.pt-page-actions,
.pt-saved>div>.pt-page-actions,
.pt-error>div>.pt-page-actions,
.pt-saving>div>.fa-bars,
.pt-saved>div>.fa-bars,
.pt-error>div>.fa-bars {
  display: none;
}

.pt-feedback {
  background-color: #e95e27;
  float: right;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: none;
  margin-left: auto;
}

.pt-pagetree li .pt-feedback .fa-circle-o-notch,
.pt-pagetree li .pt-feedback .fa-check,
.pt-pagetree li .pt-feedback .fa-exclamation {
  display: none;
  padding: 0;
  float: none;
  margin: 0;
  background: none;
  line-height: 35px;
  width: 35px;
  text-align: center;
  color: #fff;
}

.pt-saving>div>.pt-feedback,
.pt-saved>div>.pt-feedback,
.pt-error>div>.pt-feedback {
  display: block;
}

.pt-pagetree li .pt-feedback .fa-circle-o-notch {
  margin-left: 1px;
}

.pt-saving>div>.pt-feedback .fa-circle-o-notch {
  display: block;
}

.pt-saved>div>.pt-feedback .fa-check {
  display: block;
}

.pt-error>div>.pt-feedback .fa-exclamation {
  display: block;
}

.pt-pagetree .pt-translations {
  order: 30;
  flex-basis: 100%;
  margin-top: 2px;
}
