<div class="pt-pagetree-wrapper">
  <div class="pt-title">{{'Pagetree' | trans}}<a class="pt-icon fas fa-plus" href="/node/add/" title="{{'Add content' | trans}}"></a></div>
  <div class="pt-trees-wrapper">
  </div>
  <div class="pt-icon pt-pagetree-icon" title="{{'Show pagetree' | trans}} (t)"><i class="fas fa-list-ul"></i></div>
</div>
<div id="ptCopyModal" title="{{'Copy the page?' | trans}}"
  style="display: none;">
  <p>
    <i class="fas fa-copy" style="float:left; margin:12px 12px 20px 0;"></i>
    {{'The node will be copied. Do you want to include the child elements?' | trans}}
  </p>
</div>
